<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Спасибо</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <h1>Поздравляем!!!</h1>
    <p>{{name}}, Ваша паспорт записан! Ожидайте подарка! Удачного дня :)</p>
    <img src="https://pp.userapi.com/c850724/v850724475/1739b9/OiayOi4y3BM.jpg">
    <button> <a href="/app">Вернуться на начальную страницу</a></button>
</body>
</html>